html {
  height: 100%;
  background: #dedbd6 url("https://cdn.thatkidmadrid.ca/bear-with-me/background.jpg");
  background-repeat: no-repeat;
  background-size: 375vw;
  background-position: 75% 20em;
}
body {
  /*   background: #fff; */
  font-family: "Oxygen", sans-serif;
  margin: 2em 0.25em;
  font-size: 10pt;
  min-height: 800px;
}

h1,
p.subheading {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  font-weight: normal;
}

h1 {
  font-size: 4em;
  line-height: 1em;
  margin: 0.25em 0;
}

.subheading {
  font-size: 2.5em;
}

p.blurb {
  font-size: 1.5em;
  line-height: 1.5em;
}

ul.link-list {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

ul.inline {
  display: inline-block;
}

ul.link-list > li {
  margin: 0em 0em 1em 0;
}

ul.inline > li {
  display: inline-block;
  margin: 0em 1em 0em 0;
}

ul.link-list > li > a {
  opacity: 0.8;
}
ul.link-list > li > a:hover,
ul.link-list > li > a:focus {
  opacity: 1;
}

ul.link-list > li > a:focus {
  outline: dotted #fedc00 8px;
}

ul.inline > li > a > img {
  width: 3em;
  vertical-align: middle;
}
.card {
  color: #313132;
  margin: 1em 2em;
  padding: 0;
  /* max-width: calc(50vw - 20em); */
  /* max-width: 32.5em; */
  position: relative;
  top: 0;
  /* left: calc(12.5%); */
  /* transform: translateY(-50%); */
  /*   background: rgba(255, 255, 255, 0.5); */
}

footer {
  position: fixed;
  bottom: 0;
  right: 2em;
}

.copyright {
  color: #313132;
  position: relative;
  text-align: right;
}

.thatkidmadrid {
  font-family: "Poppins";
  color: #000;
}

@media only screen and (min-width: 500px) {
  html {
    /* background-position: 77% 20em; */
  }
  body{
    height: 100%;
    font-size: 12pt;
  }
}

@media only screen and (min-width: 540px) {
  html {
    /* background-position: 55% 50%; */
    background-position: 77% 20em;
    background-size: cover
  }
  .card {
    padding: 3em;
    max-width: 32.5em;
    margin: 1em auto;
  }
}

@media only screen and (min-width: 580px) {
  html {
    /* background-position: 55% 50%; */
    background-size: cover
  }
  ul.inline > li > a > img {
    width: 4em;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 800px) {

}

@media only screen and (min-width: 1000px) {
  html {
    background-position: 55% 50%;
  }

  .card {
    max-width: 32.5em;
    margin: 1em;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

}

@media only screen and (min-width: 1100px) {
  html {
    background-position: 50% 50%;
  }
  .card{
    left: 12.5%;
  }
}

@media only screen and (min-width: 1440px) {
  .card{
    max-width: calc(50vw - 15em);
  }
}
