@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

	-moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 1em;
	background-color: #eee;
}

header, main, footer {
 padding: 1em;
}
header h1, header h2 {
	margin: 0;
}

header {
background-color: #555;
 margin: 0;
}

main {
background-color: #eee;
 margin: 0;
}

footer {
background-color: #ddd;
 margin: 0;
}

nav {
	background-color: #ddd;
}

nav ul {
	margin: 0;
}

nav li {
	text-align: center;
}

.layer-strip {
	width: 100em;
	margin: 0;
	height: 15em;
	padding: 0;
}

nav a {
	text-decoration:  none;
	padding: 0.5em 1em;
	background-color: #fff;
	border-radius: 0.75em;
}

.section-gallery {
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	position: relative;
}
.section-heading{
-webkit-box-shadow: 0px 10px 37px -6px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 10px 37px -6px rgba(0,0,0,0.2);
box-shadow: 0px 10px 37px -6px rgba(0,0,0,0.2);
	position: relative;
	max-width: 20em;
	top: 2em;
	z-index: 100;
	background-color: #bbb;
	padding: 0.5em;
	padding-left: 3em;
	border-radius: 0 0 1em 0

}

.section-1, .section-2 {
	position: relative;
}

li {
	list-style: none;
	display: inline-block;
	padding: 0;
}

::-webkit-scrollbar {
    display: none;
}
