<div class="lightbox" id="lightbox">
			<a href="#" class="lb-close">X</a>
			<div class="lb-content grid">
				<div class="lb-img unit unit-xs-1">
					<img src="img/madrid-christian-assignment-01.gif">
				</div>
				<div class="lb-desc unit unit-xs-1 island-1-2">
				<h2>Nike Looping .gif</h2>
					<p>This short motion piece is an infinitely looping scene of a shoe being laced</p>
				</div>
				<div class="lb-thumbs unit unit-xs-1 island-1-2">
				<ul class="grid">
					<li class="unit unit-xs-1-3 thumbnail">
						<img src="img/madrid-christian-assignment-01.gif" alt="thumbnail">
					</li>
					<li class="unit unit-xs-1-3 thumbnail">
						<img src="img/madrid-christian-assignment-01.gif" alt="thumbnail">
					</li>
					<li class="unit unit-xs-1-3 thumbnail">
						<img src="img/madrid-christian-assignment-01.gif" alt="thumbnail">
					</li>
				</ul>
				</div>
			</div>
		</div>
