{% for a in site.data.pieces %}
{% assign counter=0 %}
<div class="section" id="{{a.section}}">
	<h3 class="section-heading">{{a.section}}</h3>
	<div class="section-gallery {{a.section}}">

		<ul class="layer-strip layer-strip-{{a.section}} grid">
		{% for b in a.units %}
			<li class="unit"><a href="#{{b.id}}" class="grayscale"><img src="{{b.img}}" alt=""></a></li>
			{% assign counter=counter | plus:1 %}
		{% endfor %}
		</ul>
	</div>

	<style>
		.layer-strip-{{a.section}} {
			width: calc({{counter}} * 15.25em)
		}
	</style>

</div>
{% endfor %}
