<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.meta}}">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" type="text/css">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

	{% include skip-links.html %}

	{% include nav.html %}

	{% include lightbox.html %}

	<div class="site-wrap" role="main">

		{% include header.html %}

		<div class="main" id="main">

			{{content}}

		</div>

		{% include footer.html %}

	</div><!-- end site-wrap -->

</body>
</html>
